@import url(//fonts.googleapis.com/css?family=Glass+Antiqua&family=Railway);

:root {
  --white: #ffffff;
  --black: #000000;
  --softblue: #e3faff;
  --softpurple: #edebf0;
  --softpink: #fffcff;
  --mediumpink: #faebf8;
}